<h1>Découverte Angular</h1>

<p highlight>Lorem ipsum dolor sit amet consectetur adipisicing elit
  Quaerat sequi, eius aliquam optio cum, praesentium odio perferendis
  ullam hic deserunt vitae enim quod ut modi.
</p>

<p highlight>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Recusandae asperiores doloremque ab commodi architecto odio?
</p>

<p highlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Accusamus quidem nobis qui quibusdam atque laudantium, 
  nostrum dolorum sunt voluptates ullam sequi inventore reiciendis corporis! Autem.
</p>